ion-toolbar{
    --background:#92DE66;
}

ion-card-title {
    text-align: center;

}

ion-title {
    color: #5C5D58;
}

#start {
    color:#5C5D58;
}

#button-atualizar{
padding-top: 10px;
height: 50px;
}


