ion-toolbar{
  --background:#00994D;
}

ion-title {
  color: floralwhite;
}

#start {
  color:floralwhite;
}

ion-menu-button{
  color:floralwhite;
}

#sair {
  color:floralwhite;
}

#button-atualizar{
padding-top: 10px;
height: 50px;
}


#header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-weight: 700;
      font-size: 30px;
      color: #ffffff;
      margin-bottom: 15%;
      text-align: center;
    }

    img {
      margin-top:20%;
      width: 150%;
      height: 150%;
      border-radius: 50%;
      border: 8px solid #ffffff;
    }
  }

  


.area-perfil {
  background: #00994D;
  padding:  4px 10px 50px 10px;
  border-radius:  0 0 28px 28px;
  display: block;
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.3);
        --box-shadow: none;
}

ion-col{
  margin-top: auto;
text-align: center;
color:#ffffff;
font-size: 20px;
  
}

ion-card-title {
  text-align: center;
  font-size: 25px;
}

.quadrado {
  background: #00994D;
  height: 100px;
  padding:  4px 10px 50px 10px;
  border-radius:  28px 28px 28px 28px;
  display: block;
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.3);
        --box-shadow: none;
}

ion-icon {
  padding-top:10px
}


ion-button {
  height: 100px;
  border-radius:  28px;
  
}


.quadrado:hover {background-color: #3e8e41}

.quadrado:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}