<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/home-petshop']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="area-perfil">
    
    <ion-row>
      <ion-col col-3>
        <p>Pedidos Aceitos</p>
        <p>2</p>
      </ion-col>
      <ion-col id="header" col-3>
        <img src="assets/icon/lightpet-icon.png" />
      </ion-col>
      <ion-col col-3>
         <p>Pedidos Concluidos</p>
         
         <p>1</p>
      </ion-col>
    </ion-row>
  
      <ion-row id="header">
        <h1>Estrela Petshop</h1>
      </ion-row>
    </div>

    <ion-card>

  <ion-card-header>
    <ion-card-title>Atualizar Informações</ion-card-title>
    
  </ion-card-header>

  <ion-card-content>

    <ion-row>

      <ion-col col-3>
        <div class="quadrado" [routerLink]="['/atualizar-info']">
          <ion-icon name="reader-outline"></ion-icon>
          <p>Atualizar cadastro</p>
        </div>
      </ion-col>
  
      <ion-col col-3>
        <div class="quadrado" [routerLink]="['/add-imagem']">
          <ion-icon name="camera-outline"></ion-icon>
          <p>Adicionar logo</p>
        </div>
      </ion-col>
  
      <ion-col col-3>
         <div class="quadrado" [routerLink]="['/alt-senha']">
           <ion-icon name="lock-closed-outline"></ion-icon>
           <p>Alterar senha</p>
          </div>
      </ion-col>
  
    </ion-row>
   
   

</ion-card-content>



</ion-card>


    

</ion-content>
