ion-button{
    text-transform: initial;
    font-size: 17px;
}

ion-content {

//background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
//--background: var(--ion-background-color, #CC00FA);

 #header {
     display: flex;
     flex-direction: column;
     align-items: center;

     img {
        margin-bottom: 20%;
        margin-top: 20%;
        width: 280px;
        height: 210px;
        
        
        //width: 240px;
        //height: 210px;
        //border-radius: 50%;
        //border: 5px solid #ffffff;
        }
    }

    form {
        //margin-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
        
        ion-button {
             margin-top: 35px;
            height: 48px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 50px;
            box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.3);
            --box-shadow: none;
            }
        }



}

ion-card {

margin-inline-start: 0px;
//margin-inline-end: 20px;

}



ion-item{
--highlight-color-focused: #FABA19;

   
}


ion-content{
//--background: #3dc2ff;
--background: linear-gradient(to right,#00994D 0%, #73FABE 100%);
//teste 1  #D4FA73 0%, #73FABE
//teste 2  #D4FA73 0%, #66DE86
//teste 3  #92DE66 0%, #66DE86
//

ion-button {
    --background: linear-gradient(to right,#00994D 0%, #66DE86 100%);
    color: #f1f1f1;
}


   ion-card {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10% 0 100% 0px;
    border-radius: 28px 28px 0  0;
    
    box-shadow: rgba(0, 0, 0, 0.2) 1px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 20px 6px, rgba(0, 0, 0, 0.12) 0px 1px 20px -30px;    }

}

ion-item {
//padding-top: 1%;
//padding-bottom: 1%;

//border-radius: 18px 18px 18px 18px;

// border-top-left-radius: 15px;
//border-top-right-radius: 15px;
// border-bottom-right-radius: 15px;
//border-bottom-left-radius: 15px;
    
        
    border-radius: 100px;


}



p{
text-align: center;
padding-top: 2%;
text-decoration: underline;

}

ion-card-content {
//margin-top: 10%;
//margin-bottom: 10%;
}