


<ion-content id="content">
  <div id="header">
    
    <img src="assets/icon/LogoOk.png">
  </div>
 
  <ion-card id=".slide">
 
   <!--<h1 style="text-align: center;">Logar</h1>-->
   <ion-card-content>
  <form [formGroup]="formGroup">
 
   <ion-item>
     <ion-label position="floating"><ion-icon name="mail-outline" item-start></ion-icon>
     E-mail
     </ion-label>
     <ion-input type="text" formControlName="username"></ion-input>
    <!-- formControlName="nome" = vinculei com o ts-->
   </ion-item>
 
   <ion-item >
     <ion-label position="floating" ><ion-icon name="key-outline" item-start></ion-icon>
     Senha
     </ion-label>
     <ion-input type="password" formControlName="password"></ion-input>
    <!-- formControlName="nome" = vinculei com o ts-->
   </ion-item>
 
   <ion-button (click)="autenticar()" expand="block" shape="round">
     Login
   </ion-button>
   
  </form>
 
   <p [routerLink]="['/cadastro-petshop']" routerDirection="forward">Cadastre-se</p>
 
   <p [routerLink]="['/redefinir-senha']" routerDirection="forward">Recuperar senha</p>
 
 </ion-card-content>
 </ion-card>
 
 </ion-content>
 