<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Alterar Senha</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/perfil']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

  <ion-card id="info">

    <ion-row><ion-text> Clique no botão abaixo para alterar sua senha. </ion-text></ion-row>
  <ion-row><ion-text><strong> OBS:</strong> Ao clicar no botão iremos enviar um link de redefinição de senha para o email
      cadastrado. </ion-text></ion-row>

   </ion-card>


  <ion-button expand="block" shape="round" (click)="recuperarSenha()">
    Alterar
  </ion-button>


</ion-card>

</ion-content>
