<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos em andamento</ion-title>
    
    
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>

    <ion-card-header color="primary">
      <ion-card-title>Ninha</ion-card-title>
    </ion-card-header>

    <ion-row class="no-padding mg-top-20">
      <ion-col size="4">
       
       
          <img class="img" src="assets/icon/gato-icone.png">
       
      </ion-col>
  
      <ion-col col-3>
        


       <ul style="list-style: none;">
        <li><strong>Dono:</strong> Joana</li>
        <li><strong>Endereço:</strong> Rua das Flores</li>
        <li><strong>Serviço:</strong> Tosa</li>
        <li><strong>Especie:</strong> Gato</li>

        <br>

        <p><strong>STATUS:</strong> <strong id="status"> EM ANDAMENTO</strong></p> 

      </ul>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-button shape="round" color="danger" expand="full" style="padding-top: 2%;">Finalizar</ion-button>
      </ion-col>

      <ion-col col-6>
        <ion-button shape="round" expand="full"  style="padding-top: 2%;" color="warning" [routerLink]="['/ver-mais-pedido-em-andamento']">Ver mais</ion-button>
      </ion-col>

    </ion-row>

  </ion-card>
  

</ion-content>