#status {
    color: #ff2c2c;
}

ion-card-title {
    text-align: center;
}

img {
    display: block;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 30%;//alterar dps
   


   height: 100px;
   width: 100px;
}

ul {
    padding-inline-start: 0px;
}

  li {
      margin-bottom: 10px;

  }

  h3 {
      color: #000000;
  }

ion-toolbar{
    --background:#00994D;
}

ion-title {
    color: floralwhite;
}

#start {
    color:floralwhite;
}

#sair {
    color:floralwhite;
}