<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/tabs/pedidos-em-andamento']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>

 

<ion-content>

  <ion-card>

    <ion-card-header color="primary">
  <ion-card-title>Serviço</ion-card-title>
  </ion-card-header>

  <img src="assets/icon/dog.png" alt="">

  <h3 style="text-align:center; margin-bottom:20px;"><strong>Informações Geral</strong></h3>
      <p><strong>Nome do Dono:</strong> Fernanda</p>
      <p><strong>Endereço:</strong> Rua Washigton n° 10</p>
      <p><strong>Serviço(s):</strong> banho </p>
      <p><strong>Telefone:</strong> 21 95040-2139 </p>
      <p><strong>Celular:</strong> 21 95040-2139 </p>
      <p><strong>Data:</strong> 11/02/2021 </p>
      <p><strong>Horário:</strong>13:00 </p>

      <h3 style="text-align:center; margin-bottom:20px; margin-top:20px;"><strong>Informações do Pet</strong></h3>

      <p><strong>Nome do Pet:</strong> Belinha</p>
      <p><strong>Raça:</strong> Labrador retriever</p>
      <p><strong>Sexo:</strong> femea </p>
      <p><strong>Especie:</strong> cachorro </p>

  <p id="p-status"><STRONG>STATUS:</STRONG> <strong id="andamento"> EM ANDAMENTO</strong></p>

  <ion-row>
    <ion-col col-12>
      <ion-button shape="round" color="danger" expand="full" style="padding-top: 2%;">Finalizar</ion-button>
    </ion-col>

  </ion-row>

  </ion-card>

</ion-content>
