ion-toolbar{
    --background:#00994D;
    }
    
    ion-title {
    color: floralwhite;
    }
    
    #start {
    color:floralwhite;
    }
    
    ion-card {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    img {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        display: block;

        height:120px ;
        width:120px ;
    }

    h1 {
        text-align: center;

    }
    p{
        text-align: center;
    }