<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button  tab="pedidos-novos" >
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Pedidos novos</ion-label>
      <ion-badge>1</ion-badge>
    </ion-tab-button>

    <ion-tab-button  tab="pedidos-em-andamento">
      <ion-icon name="hourglass"></ion-icon>
      <ion-label>Pedidos em andamento</ion-label>
      <!--<ion-badge></ion-badge>-->
    </ion-tab-button>

    <ion-tab-button  tab="pedidos-finalizados">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Pedidos finalizados</ion-label>
      <!--<ion-badge></ion-badge>-->
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>