<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Atualizar cadastro</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/perfil']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card id="info">

      <ion-text>Preencha os campos abaixo para atualizar seu cadastro. </ion-text>
   
     </ion-card>

  <form id="form">
    <h2>Informações Pessoais</h2>
     
    <ion-grid class="no-padding mg-top-30 form-bg-light">
      <ion-row class="no-padding">
        <ion-col col-12>
          
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >Nome completo</ion-label>
            <ion-input  ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row class="no-padding mg-top-20">
        <ion-col col-12>
         
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >CPF</ion-label>
            <ion-input  type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <h2>Informações de Contato</h2>

      <ion-row class="no-padding mg-top-20">
        <ion-col col-12>
         
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >Telefone</ion-label>
            <ion-input type="number" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="no-padding mg-top-20">
        <ion-col col-12>
          
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >E-mail</ion-label>
            <ion-input type="email" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <h2>Informações de Localização</h2>

      

      <ion-row class="no-padding mg-top-20">
        <ion-col col-12>
         
          
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >Cidade</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="no-padding mg-top-20">
        <ion-col col-12>
         
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >Bairro</ion-label>
            <ion-input  type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row class="no-padding mg-top-20">
        <ion-col col-12>
          
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >Endereço</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="no-padding mg-top-20">
        <ion-col col-12>
          
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >N° da casa</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="no-padding mg-top-20">
        <ion-col col-12>
          
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >Complemento</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      
  
      <ion-row class="no-padding mg-top-20">
        <ion-col col-12>
         
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >CEP</ion-label>
            <ion-input type="number" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
    </ion-grid>


    <h1>Adicionar Preços</h1>

    <ion-grid>


      <ion-col col-6>
        <ion-item>
          <ion-label>1° Serviço</ion-label>
          <ion-select >
            <ion-select-option value="tosa">tosa</ion-select-option>
            <ion-select-option value="banho">banho</ion-select-option>
            <ion-select-option value="banho e tosa">banho e tosa</ion-select-option>
          </ion-select>
        </ion-item>
        </ion-col>

        <ion-col col-6>
          <div id="valor"><ion-input placeholder="ex: 20,00" ></ion-input></div>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>2° Serviço</ion-label>
            <ion-select >
              <ion-select-option value="tosa">tosa</ion-select-option>
              <ion-select-option value="banho">banho</ion-select-option>
              <ion-select-option value="banho e tosa">banho e tosa</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col col-6 >
          <div id="valor"><ion-input placeholder="ex: 20,00" ></ion-input></div>
        </ion-col>

        <ion-col col-6>
          <ion-item>
            <ion-label>3° Serviço</ion-label>
            <ion-select >
              <ion-select-option value="tosa">tosa</ion-select-option>
              <ion-select-option value="banho">banho</ion-select-option>
              <ion-select-option value="banho e tosa">banho e tosa</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col col-6 >
          <div id="valor"><ion-input placeholder="ex: 20,00" ></ion-input></div>
        </ion-col>

    </ion-grid>
  
  
        <ion-button id="button-atualizar" expand="block" shape="round">
          Atualizar
        </ion-button>
        
       </form>

       </ion-card>



</ion-content>