<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Atualizar cadastro</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/perfil']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card id="info">

      <ion-text>Preencha os campos abaixo para atualizar seu cadastro. </ion-text>
   
     </ion-card>

  <form id="form">

     
    <ion-grid class="no-padding mg-top-30 form-bg-light">
      <ion-row class="no-padding">
        <ion-col col-12>
          
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >Nome:</ion-label>
            <ion-input  ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row class="no-padding mg-top-20">
        <ion-col col-6>
         
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >CNPJ:</ion-label>
            <ion-input  ></ion-input>
          </ion-item>
        </ion-col>
  
        <ion-col col-6>
         
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >Telefone:</ion-label>
            <ion-input type="number" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row class="no-padding mg-top-20">
        <ion-col col-12>
          
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >Endereço:</ion-label>
            <ion-input ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="no-padding mg-top-20">
        <ion-col col-6>

          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >Bairro</ion-label>
            <ion-input  ></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-6>

          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >Cidade</ion-label>
            <ion-input type="text" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row class="no-padding mg-top-20">
        <ion-col col-12>
          
          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >E-mail:</ion-label>
            <ion-input type="email" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="no-padding mg-top-20">
        <ion-col col-6>

          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >Município</ion-label>
            <ion-input  ></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-6>

          <ion-item class="transparent-bg no-padding">
            <ion-label position="floating" >CEP</ion-label>
            <ion-input type="number" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      
    </ion-grid>

    <h1>Adicionar Preços</h1>

    <ion-grid>

      <ion-row>
        <ion-col col-6>
          <div  id="nome">Banho:</div>
        </ion-col>
        <ion-col col-6>
          <div id="valor"><ion-input placeholder="ex: 20,00" ></ion-input></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <div id="nome">Tosa:</div>
        </ion-col>
        <ion-col col-6 >
          <div id="valor"><ion-input placeholder="ex: 20,00" ></ion-input></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <div id="nome">Banho e tosa:</div>
        </ion-col>
        <ion-col col-6 >
          <div id="valor"><ion-input placeholder="ex: 20,00" ></ion-input></div>
        </ion-col>
      </ion-row>



    </ion-grid>
  
   
  
        <ion-button id="button-atualizar" expand="block" shape="round">
          Atualizar
        </ion-button>
        
       </form>

       </ion-card>

</ion-content>
