<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos finalizados</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let pedido of lista">
  
    <ion-row class="no-padding mg-top-20">
      <ion-col size="4">
       
       
          <img class="img" src="assets/icon/dog.png">
       
      </ion-col>
  
      <ion-col col-3>
        


        <ul style="list-style: none;">
          <h3></h3>
          <li><ion-icon name="person-outline"></ion-icon> {{pedido.nome_cliente}}</li>
          <li><ion-icon name="location-outline"></ion-icon> {{pedido.endereco}}</li>
          <li><ion-icon name="clipboard-outline"></ion-icon> {{pedido.servico}}</li>
          <li><ion-icon name="paw-outline"></ion-icon> {{pedido.servico}}</li>
        
          <li><strong  >STATUS:</strong> <strong id="status"> FINALIZADO</strong></li>

        </ul>

    
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-button shape="round" color="warning" expand="full" (click)="visualizar(pedido)" >Ver mais</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>