<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos finalizados</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/home-petshop']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header color="primary">
      <ion-card-title>Belinha</ion-card-title>
    </ion-card-header>

    <ion-row class="no-padding mg-top-20">
      <ion-col size="4">
       
       
          <img class="img" src="assets/icon/dog.png">
       
      </ion-col>
  
      <ion-col col-3>
        


       <ul style="list-style: none;">
        <li><strong>Dono:</strong> Toddy</li>
        <li><strong>Serviço(s):</strong> Banho</li>
        <li><strong>Especie:</strong> Cachorro</li>

        <br>

        <li><strong  >STATUS:</strong> <strong id="status"> FINALIZADO</strong></li>
      </ul>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-button shape="round" color="warning" expand="full" [routerLink]="['/ver-mais-pedidos-finalizados']">Ver mais</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>