<ion-header>
  <ion-toolbar>
    <ion-title>pedidos-finalizados</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
        <ion-card-title>Serviço</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/icon/dog.png" style="width: 120px; padding-bottom: 5%;">

      <h2>Informações refente ao pedido</h2>

      <p><strong>Nome:</strong> Matheus</p>
      <p><strong>Endereço:</strong> Rua Jorge Freitas n° 70</p>
      <p><strong>Serviços:</strong> banho </p>
      <p><strong>Porte:</strong> pequeno </p>
      <p><strong>Sexo:</strong> macho </p>
      <p><strong>Animal:</strong> cachorro </p>

      <br>

      <p><strong>STATUS:</strong> <strong id="status"> FINALIZADOS</strong></p> 
      

      <ion-button color="warning" style="padding-top: 2%;">Ver mais</ion-button>

    </ion-card-content>
  
  </ion-card>

</ion-content>
