

    ion-button{
        text-transform: initial;
        font-size: 17px;
    }



ion-content {
    --background: linear-gradient(to right,#00994D 0%, #73FABE 100%);

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 26px;
            color: #010100;
            margin-top: 10%;
            margin-bottom: 15%;
            font-family: 'Raleway', sans-serif;
        }

        

    }

    form {
       
        padding-left: 30px;
        padding-right: 30px;
        
        margin-top: auto;
        margin-bottom: auto;
        
    
       ion-button {
           margin-top: 5%;
           height: 48px;
           font-size: 18px;
           text-transform: initial;
           border-radius: 50px;
           box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.3);
           --box-shadow: none;
       }
       }


   

}

ion-item{
    --highlight-color-focused: #FABA19;
   
       //border-radius: 20px 20px 20px 20px;
       border-radius: 100px;
}


    
  

  ion-button {
    --background: linear-gradient(to right,#00994D 0%, #66DE86 100%);
    color: #f1f1f1;
}

p{
    font-size: 14px;
    color:inherit;
    text-align: center;
    color: #4F4F4F;

    text-align: center;
    padding-top: 1%;



}

ion-card{

padding: 10px 15px 10px 15px; 
margin-bottom: 5%;
box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 1px -2px, 
rgba(0, 0, 0, 0.14) 0px 2px 20px 6px, 
rgba(0, 0, 0, 0.12) 0px 1px 20px -30px;  
}