

<ion-content>
  <div id="header">
    <h1>Redefina sua senha </h1>
   
  </div>
 
  <form id="#form">

    <ion-card >

    <ion-text><strong>OBS:</strong> Para recuperar sua senha, informe o seu <strong>e-mail</strong>
      no campo abaixo. Você receberá um e-mail de ajuda para cadastrar uma nova senha.</ion-text>
 
   </ion-card>

   <ion-item id="input">
     <ion-label position="floating" >E-mail:</ion-label>
     <ion-input type="email" ></ion-input>
    <!-- formControlName="nome" = vinculei com o ts-->
   </ion-item>
 
   <ion-button expand="block" shape="round" (click)="recuperarSenha()">
     Enviar
   </ion-button>
  </form>
 
  <p>Já possui um cadastro ? <strong [routerLink]="['/login-petshop']" routerDirection="forward">Logar-se</strong></p>
 
  
 
 
 </ion-content>