<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" id="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tela Inicial</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>


 

  <ion-card>
    <ion-card-header>
      <ion-card-title>Verificar pedidos novos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Clique no botão abaixo para verificar se algum clientes solicitou um pedido
    </ion-card-content>
      
    <ion-button (click)="goPage()" expand="block">Pedidos novos</ion-button>
 
  </ion-card>
  
  
  

</ion-content>
