ion-content {
    
    // #73FABE  #D4FA73
    }
    ion-toolbar{
        --background:#92DE66;
       
    }
    
    ion-title {
        color: #5C5D58;
    }
    
    #start {
        color:#5C5D58;
    }
    
    #sair {
        color:#5C5D58;
    }
    