ion-toolbar {
    --background: #fcfcfc;


    ion-button{
        text-transform: initial;
        font-size: 17px;
    }
}


ion-content {
    --background: linear-gradient(to right,#00994D 0%, #73FABE 100%);

    #header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            text-align: center;
            font-weight: 700;
            font-size: 26px;
            color: #010100;
            margin-top: 10%;
            margin-bottom: 15%;
            font-family: 'Raleway', sans-serif;
        }

        

    }

    form {
       
        padding-left: 30px;
        padding-right: 30px;
        
        margin-top: auto;
        margin-bottom: auto;
        
    
       ion-button {
           margin-top: 5%;
           height: 48px;
           font-size: 18px;
           text-transform: initial;
           border-radius: 50px;
           box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.3);
           --box-shadow: none;
       }
       }


    /*#input {
        //padding-top: 5px;
        
    }*/

}

ion-item{
    --highlight-color-focused: #FABA19;
    
       
}

ion-item {
    border-radius: 20px 20px 20px 20px;
  }

  ion-button {
    --background: linear-gradient(to right,#00994D 0%, #66DE86 100%);
    color: #f1f1f1;
}

p{
    font-size: 14px;
    color:inherit;
    text-align: center;
    color: #f1f1f1;

    text-align: center;
    padding-top: 1%;



}