

<ion-content>
  <div id="header">
    <h1>Crie sua<br/>Conta </h1>
   
  </div>
 
  <form id="#form">
 
   <ion-item id="input">
     <ion-label position="floating">Nome:</ion-label>
     <ion-input type="text"></ion-input>
    <!-- formControlName="nome" = vinculei com o ts-->
   </ion-item>
 
   <ion-item id="input">
     <ion-label position="floating" >E-mail:</ion-label>
     <ion-input type="text" ></ion-input>
    <!-- formControlName="nome" = vinculei com o ts-->
   </ion-item>
 
   <ion-item id="input">
     <ion-label position="floating">Telefone:</ion-label>
     <ion-input type="text"></ion-input>
    <!-- formControlName="nome" = vinculei com o ts-->
   </ion-item>
 
   <ion-item id="input">
     <ion-label position="floating" >CNPJ:</ion-label>
     <ion-input type="text" ></ion-input>
    <!-- formControlName="nome" = vinculei com o ts-->
   </ion-item>
 
   <ion-item id="input">
     <ion-label position="floating">Endereço:</ion-label>
     <ion-input type="text"></ion-input>
    <!-- formControlName="nome" = vinculei com o ts-->
   </ion-item>
 
   <ion-item id="input">
     <ion-label position="floating" >Senha:</ion-label>
     <ion-input type="password" ></ion-input>
    <!-- formControlName="nome" = vinculei com o ts-->
   </ion-item>
 
   <ion-button expand="block" shape="round">
     Cadastrar
   </ion-button>
  </form>
 
  <p>Já possui um cadastro ? <strong>Logar-se</strong></p>
 
  
 
 
 </ion-content>