<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos novos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <ion-card>

    <ion-card-header color="primary">
      <ion-card-title>Belinha</ion-card-title>
    </ion-card-header>

    <ion-row class="no-padding mg-top-20">
      <ion-col size="4">
       
       
          <img class="img" src="assets/icon/dog.png">
       
      </ion-col>
  
      <ion-col col-3>
        


       <ul style="list-style: none;">
        <li><ion-icon name="person-outline"></ion-icon> Toddy</li>
        <li><ion-icon name="location-outline"></ion-icon> Rua das Amelias</li>
        <li><ion-icon name="clipboard-outline"></ion-icon> Banho</li>
        <li><ion-icon name="paw-outline"></ion-icon> Cachorro</li>
      </ul>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-button shape="round" expand="full" style="padding-top: 2%;" >Confirmar</ion-button>
      </ion-col>

      <ion-col col-6>
        <ion-button shape="round" expand="full"  style="padding-top: 2%;" color="warning" [routerLink]="['/ver-mais-pedido-novo']">Ver mais</ion-button>
      </ion-col>

    </ion-row>

  </ion-card>

  <ion-card>

    <ion-card-header color="primary">
      <ion-card-title>Ninha</ion-card-title>
    </ion-card-header>

    <ion-row class="no-padding mg-top-20">
      <ion-col size="4">
       
       
          <img class="img" src="assets/icon/gato-icone.png">
       
      </ion-col>
  
      <ion-col col-3>
        


       <ul style="list-style: none;">
        <li><ion-icon name="person-outline"></ion-icon> Joana</li>
        <li><ion-icon name="location-outline"></ion-icon> Rua das Flores</li>
        <li><ion-icon name="clipboard-outline"></ion-icon> Tosa</li>
        <li><ion-icon name="paw-outline"></ion-icon> Gato</li>
      </ul>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-button shape="round" expand="full" style="padding-top: 2%;">Confirmar</ion-button>
      </ion-col>

      <ion-col col-6>
        <ion-button shape="round" expand="full"  style="padding-top: 2%;" color="warning" >Ver mais</ion-button>
      </ion-col>

    </ion-row>

  </ion-card>

</ion-content>