<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos novos</ion-title>
    <ion-buttons slot="start" style="color:#5C5D58">
      <ion-button [routerLink]="['/home-petshop']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <ion-card-header>
        <ion-card-title>Serviço</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/icon/dog.png" style="width: 120px; padding-bottom: 5%;">

      <p><strong>Nome:</strong> Fernanda</p>
      <p><strong>Endereço:</strong> Rua Washigton n° 10</p>
      <p><strong>Serviços:</strong> banho </p>
      <p><strong>Porte:</strong> pequeno </p>
      <p><strong>Sexo:</strong> macho </p>
      <p><strong>Animal:</strong> cachorro </p>

      <ion-button style="padding-top: 2%;">Confirmar</ion-button>
      <ion-button id="botao-vermais" style="padding-top: 2%;" color="warning">Ver mais</ion-button>
    </ion-card-content>
  
  </ion-card>

  <ion-card>
    <ion-card-header>
        <ion-card-title>Serviço</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/icon/gato-icone.png" style="width: 120px; padding-bottom: 5%;">

      <p><strong>Nome:</strong> Leandro</p>
      <p><strong>Endereço:</strong> Rua Vladimir n° 7</p>
      <p><strong>Serviços:</strong> tosa </p>
      <p><strong>Porte:</strong> medio </p>
      <p><strong>Sexo:</strong> fêmea </p>
      <p><strong>Animal:</strong> gato </p>

      <ion-button style="padding-top: 2%;">Confirmar</ion-button>
      <ion-button id="botao-vermais" style="padding-top: 2%;" color="warning">Ver mais</ion-button>
    </ion-card-content>
  
  </ion-card>

</ion-content>