<ion-header>
  <ion-toolbar>
    <ion-title>Confirmar Serviço</ion-title>

    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/tabs/pedidos-novos']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons > 

  </ion-toolbar>
  
</ion-header>

<ion-content>

  <img src="assets/icon/dog.png" alt="">
  <h1>Belinha</h1>
  <p>Rua das montanhas n°1230</p>

  <ion-card>
    <ion-card-header>
    
      <ion-card-subtitle>Informe os horarios
        de busca do pet e entrega do pet.
      </ion-card-subtitle>
  
  </ion-card-header>
  

</ion-card>

  <form>

    <ion-item>
      <ion-label>Data sugerida:</ion-label>
      <ion-input disabled value="12/09/2020" type="date" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Data:</ion-label>
      <ion-input disabled value="12/09/2020" type="date" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Horário sugerido:</ion-label>
      <ion-input type="time" value="18:30" ></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Horario da coleta:</ion-label>
      <ion-input type="time" value="18:30" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Horario de entrega</ion-label>
      <ion-input type="time" ></ion-input>
    </ion-item>


    <br>

    <ion-button  expand="block">Confirmar</ion-button>
   
  </form>

</ion-content>
