<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Adicionar Logo</ion-title>
    <ion-buttons slot="start" style="color:floralwhite">
      <ion-button [routerLink]="['/perfil']" >
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
  </ion-toolbar>
</ion-header>

<ion-content>

 
  
  <ion-content>
  <ion-card>
    <ion-card id="info">

      <ion-text>Selecione sua logo. </ion-text>
   
     </ion-card>
  


  <ion-row>
  <img src="{{cliente.imagem}}" alt="">
</ion-row>

<ion-item>
  <input type="file" (change)="enviarArquivo($event)" />
</ion-item>

  </ion-card>


</ion-content>
